section{
    width: 100%;
    height: 250px;
    background-color: grey;
    box-sizing: border-box;
    padding-right: 12px;
    border-radius: 30px;
    border: none;
    margin-bottom: 100px;
    .title{
        text-align: center;
        padding-top: 10px;
    }
}
.comment{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 0px 20px 0px 100px;
}

.comment-sidebar{
    border: none;
    width: 79px;
    height: 250px;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    background-color: #354F52;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: -78px;
    left: 0px;
}

.comment-name1{
    width: 100%;
    height: 138px;
    border: none;
    background-color: #F3F6F4;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.comment-name1__gambar{
    height: 65px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A4848;
    border-radius: 50%;
}

.comment-name1__name{
    h4{
        margin: 0 0 10px 0;
        padding: 0;
    }
    p{
        margin: 0;
        padding: 0;
    }
}
i{
    font-size: 25px;
    color: white;
}