extends template.pug 
block rel 
    link(rel="stylesheet", href="about.css")
block header 
    block header 
    +header('ABOUT US','Ketika muncul rasa ingin menyerah, ingatlah bahwa kamu memiliki tanggung jawab yang harus diperjuangkan')
block main
    +profil()
    +emosi('SAD', 'adipisicing elit. Beatae laboriosam ratione rerum neque perferendis, ullam libero consequatur nisi, sint minus saepe a quasi incidunt debitis dolores repellat ', 'ANGRY', 'adipisicing elit. Beatae laboriosam ratione rerum neque perferendis, ullam libero consequatur nisi, sint minus saepe a quasi incidunt debitis dolores repellat ', 'HAPPY', 'adipisicing elit. Beatae laboriosam ratione rerum neque perferendis, ullam libero consequatur nisi, sint minus saepe a quasi incidunt debitis dolores repellat ', 'STRESS', 'adipisicing elit. Beatae laboriosam ratione rerum neque perferendis, ullam libero consequatur nisi, sint minus saepe a quasi incidunt debitis dolores repellat', 'HOPELESS', 'adipisicing elit. Beatae laboriosam ratione rerum neque perferendis, ullam libero consequatur nisi, sint minus saepe a quasi incidunt debitis dolores repellat', 'SOMEONE CAN STEP BACKWARDS, STAY COMFORT AND BECOME COWARD, OR STEP FORWARD, GROW STRONGER, AND TO BE A BRAVEST PERSON.')
