extends template.pug 
block rel 
    link(rel="stylesheet", href="blog.css")
block header 
    +header('OUR BLOG','Seseorang bisa bergerak mundur dan nyaman, atau maju terus dan bertumbuh.')
block main 
    +blog()