extends template.pug 
block rel 
    link(rel="stylesheet", href="contact.css")
block header 
    +header('OUR CONTACT','Kehidupan punya caranya sendiri untuk menjawab setiap pertanyaan-pertanyaan sulit dari orang, tentang ke mana kita akan berakhir setelah ini')
block main 
    +contactinfo()
    +contactmenu()