mixin blog()
    .ortu1 
        h2 PSYHSOC BLOG 
        span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae laboriosam ratione rerum neque perferendis, ullam libero consequatur nisis 
        .anak1 
            .cucu1 
                img(src="foto/nangis.jpg", alt="")
                span 1 Desember 2023
                .news 
                    h3 Jangan berlarut dalam kesedihan 
                    p Kehidupan penuh tantangan dan kesulitan, mengantar kita pada kesedihan yang dalam. Meski begitu, setiap badai pasti berlalu, membawa terang di ujungnya. Artikel ini mengajak pembaca untuk menemukan kekuatan internal, mencari dukungan, dan mengusung sikap positif dalam mengatasi kesulitan. Dengan fokus pada perjalanan kesembuhan emosional, kita bisa melewati masa sulit dengan tekad dan optimisme. Pesan utamanya: hadapi kesedihan dengan kepala tegak, melangkah maju menuju kehidupan yang lebih baik.
                    .touch 
                        button Read More
                .wartawan 
                    img(src="foto/orang.jpg", alt="")
                    .keterangan 
                        h4 Veri No Limit
                        p Guild Leader
            .cucu2
                .search 
                    h3 Search
                    .form 
                        input(type="text" placeholder="Search....")
                        button
                            i.fa-solid.fa-search
                .post 
                    h2 Popular Post
                    img(src="foto/ketawa bertiga.jpg", alt="")
                    .words 
                        h3 Bahagia tidak harus mahal 
                        p Sept 15, 2023
                    .berita1 
                        img(src="foto/nangis.jpg", alt="")
                        .isiberita1 
                            h3 Jangan berlarut dalam kesedihan 
                            p 1 Desember 2023
                    .berita2 
                        img(src="foto/depresi.jpg", alt="")
                        .isiberita2 
                            h3 Alasan Mental health penting 
                            p 1 Desember 2023
        .anak2 
            .cucu3
                img(src="foto/ketawa bertiga.jpg", alt="")
                span 1 Desember 2023
                .news2
                    h3 Bahagia tidak harus mahal
                    p Hal ini mengajak kita untuk melihat bahwa kebahagiaan sering kali dapat ditemukan dalam hal-hal sederhana sehari-hari. Dari momen kecil, seperti senyum orang yang kita cintai atau matahari terbenam yang indah, hingga kepuasan dari prestasi pribadi, kita dapat menemukan kegembiraan tanpa harus menghabiskan banyak uang. Dengan mengeksplorasi sumber-sumber kebahagiaan yang terjangkau, kita dapat membuka pintu menuju kehidupan yang lebih memuaskan dan berarti. Jadi, mari temukan kebahagiaan tanpa harus menguras dompet kita!
                    .touch2
                        button Read more
                .wartawan2
                    img(src="foto/orang5.jpg", alt="")
                    .keterangan2 
                        h4 Ifzal is here
                        p Penulis
            .cucu4
                .news3 
                    img(src="foto/ketawa sendiri.jpg", alt="")
                    figcaption  1 Desember 2023
                    .judul 
                        h3 Nikmati setiap momen 
                        span By Jokowi 
                .news4
                    img(src="foto/depresi.jpg", alt="")
                    figcaption  1 Desember 2023
                    .judul2 
                        h3 Alasan mental penting health 
                        span By Jokowi 


