mixin contactinfo()
    .kontak
        .judul 
            h1 CONTACT US
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam aliquam architecto quaerat iste at praesentium maxime enim nostrum ad quisquam
        .main 
            .information
                .gambar 
                    |
                    |
                    img(src="foto/consul.jpg", alt="")
                .deskripsion
                    h3 Contact Information
                    p Jangan ragu untuk menghubungi PsychSoc untuk mendapatkan bantuan dan dukungan psikologis. Tim profesional kami siap membantu Anda mencapai kesejahteraan mental dan emosional
                .social_media
                    .telepon 
                        |
                        |
                        .wadah_ikon
                            i.fa-solid.fa-phone-volume
                        p +6281-2346-5879
                    .gmail 
                        p psychsoccompany@gmail.com
                img.blob1(src="foto/blob (1).jpg", alt="")
                img.blob3(src="foto/blob (3).jpg", alt="")
            .sendUs
                .keterangan
                    h3 Send Us a Massage!
                form 
                    .line
                        .line__vt 
                            label Name:
                            input(type="text")
                        .line__vt
                            label Last Name:
                            input(type="text")
                    .line
                        .line__vt    
                            label Phone:
                            input(type="text")
                        .line__vt
                            label Country:
                            input(type="text")
                    .line2
                        label Email:
                        input(type="email")
                    .line3 
                        label What problems?:
                        textarea(name="", cols="30", rows="10") 
                    .line4 
                        button Submit 
                img.blob2(src="foto/blob (2).jpg", alt="")
