mixin footer(judul_1, teks_1, judul_2, teks_2)
    footer
      .teks
        .about
          h3=judul_1
          p=teks_1
        .image
          img(src="foto/otak.png")
        .office
          h3=judul_2
          p=teks_2
      hr(width="100%")
      .copyright
        h4 Psychsoc Company @ 2023 - Kelompok Satu
