mixin pelayanan()
    main 
        .family
            .parent1
                h2 PELAYANAN 
                .child1
                    .group1
                        .childone
                            h2 anak-anak
                        .childtwo
                            h2 remaja
                    .group2
                        .childthree
                            h2 orang tua
                        .childfour
                            h2 lansia
            aside 
                h2 NEWS
                .ortu 
                    .anak1 
                        .cucu1
                            h4 BERCERITA KEPADA ORANG LAIN DAPAT MENURUNKAN STRESS
                            p Bercerita pada orang lain, terapi simpel kurangi stres.
                        img(src="foto/consule_cewek.PNG", alt="")
                    .anak2 
                        .cucu2
                            h4 STRESS DAPAT MENYEBABKAN INSOMNIA
                            p Stress dapat menjadi pemicu utama insomnia, dan membuat sulit untuk bersantai di malam hari
                        img(src="foto/consule1.jpg", alt="")
                    .anak3 
                        .cucu3
                            h4 PRIA LEBIH SERING MENGALAMI GANGGUAN MENTAL 
                            p Bahwa pria juga rentan terhadap gangguan mental, masih ada persepsi bahwa pria seharusnya kuat.
                        img(src="foto/consule_cowok.PNG", alt="")


             
                 

