mixin profil()
    section.abt1
        div.abt1-isi
            img.gambarrr(src="foto/nulis.jpg")
        div.tulisan 
            p Kami sangat senang Anda berada di sini untuk mengenal lebih dekat layanan psikologi yang kami tawarkan. Psikologi memegang peran penting dalam perjalanan kesehatan mental dan kesejahteraan, dan di sini di PSYCHSOC, Kami memahami bahwa setiap individu memiliki cerita uniknya sendiri, dan di sini kami membuka pintu untuk mendengar dan memahami perjalanan Anda. Melalui sesi konseling, dukungan, dan pendekatan terapi yang disesuaikan, kami bertujuan untuk membantu Anda menemukan kekuatan dalam diri sendiri, mengatasi tantangan, dan mencapai kesejahteraan emosional yang berkelanjutan.
            p Kami percaya bahwa kesehatan mental adalah fondasi bagi kehidupan yang bermakna dan penuh prestasi. Oleh karena itu, di PSYCHSOC, kami tidak hanya menyediakan layanan psikologi, tetapi juga berkomitmen untuk meningkatkan kesadaran dan pemahaman tentang pentingnya merawat kesehatan mental secara menyeluruh. 
            h1 ABOUT US 
            h2 Warm regards, Psychsoc